@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
* {
  box-sizing: border-box;
}
.container {
  display: flex;
  width: 90vw;
}
.panel {
  background-size: cover;
  border-radius: 50px;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  height: 80vh;
  transition: flex 0.7s ease-in;
}
.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 22px;
  left: 20px;
  margin: 0;
  opacity: 0;
}
.panel.active{
    flex:8;
}
.panel.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}
/* this will work when the screen is very small then only three panel will be shown & the 4th and 5th panels will be hidden*/
@media(max-width:480px){
    .container{
        width: 100vw;
    }
    .panel:nth-of-type(4),
    .panel:nth-of-type(5){
        display: none;
    }
}